* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 28px;
}

.center {
    position: relative;
    margin: 35vh auto;
    width: 70%;
    text-align: center;
    /* background: red; */
}